In [497]:
import pandas as pd
import numpy as np

df = pd.read_csv('housing_dataset.csv')
df.drop('Id', axis=1, inplace=True)
df.drop('MiscVal', axis=1, inplace=True)
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,NaN,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,8,2007,WD,Normal,175000
1456,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,2,2010,WD,Normal,210000
1457,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,GdPrv,Shed,5,2010,WD,Normal,266500
1458,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,4,2010,WD,Normal,142125
1459,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,6,2008,WD,Normal,147500

In [498]:
df["AgeOfHouse"] = df["YrSold"] - df["YearBuilt"]
df["AgeOfRemodel"] = df["YrSold"] - df["YearRemodAdd"]

In [499]:
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolQC,Fence,MiscFeature,MoSold,YrSold,SaleType,SaleCondition,SalePrice,AgeOfHouse,AgeOfRemodel
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,2,2008,WD,Normal,208500,5,5
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,NaN,NaN,NaN,5,2007,WD,Normal,181500,31,31
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,NaN,NaN,NaN,9,2008,WD,Normal,223500,7,6
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,NaN,NaN,NaN,2,2006,WD,Abnorml,140000,91,36
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,NaN,NaN,NaN,12,2008,WD,Normal,250000,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,8,2007,WD,Normal,175000,8,7
1456,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,MnPrv,NaN,2,2010,WD,Normal,210000,32,22
1457,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,GdPrv,Shed,5,2010,WD,Normal,266500,69,4
1458,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,4,2010,WD,Normal,142125,60,14
1459,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,6,2008,WD,Normal,147500,43,43

In [500]:
df[["LotFrontage", "MasVnrArea", "GarageYrBlt"]] = df[["LotFrontage", "MasVnrArea", "GarageYrBlt"]].astype('float')

In [501]:
#On utilise le LabelEncoder pour les columns suivantes
dfLabel = df[
    ["ExterCond", "ExterQual", "BsmtCond", "BsmtQual", "BsmtExposure", "BsmtFinType1", "BsmtFinType2", "HeatingQC",
     "KitchenQual", "FireplaceQu", "GarageQual", "GarageCond", "PoolQC", "Fence"]]
#substract those columns from the initial df
dfonehot = df.drop(
    ["OverallQual", "OverallCond", "ExterCond", "ExterQual", "BsmtCond", "BsmtQual", "BsmtExposure", "BsmtFinType1",
     "BsmtFinType2", "HeatingQC", "KitchenQual", "FireplaceQu", "GarageQual", "GarageCond", "PoolQC", "Fence",
     "OverallQual", "OverallCond"], axis=1)

In [502]:
dfLabel

,ExterCond,ExterQual,BsmtCond,BsmtQual,BsmtExposure,BsmtFinType1,BsmtFinType2,HeatingQC,KitchenQual,FireplaceQu,GarageQual,GarageCond,PoolQC,Fence
0,TA,Gd,TA,Gd,No,GLQ,Unf,Ex,Gd,NaN,TA,TA,NaN,NaN
1,TA,TA,TA,Gd,Gd,ALQ,Unf,Ex,TA,TA,TA,TA,NaN,NaN
2,TA,Gd,TA,Gd,Mn,GLQ,Unf,Ex,Gd,TA,TA,TA,NaN,NaN
3,TA,TA,Gd,TA,No,ALQ,Unf,Gd,Gd,Gd,TA,TA,NaN,NaN
4,TA,Gd,TA,Gd,Av,GLQ,Unf,Ex,Gd,TA,TA,TA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,TA,TA,TA,Gd,No,Unf,Unf,Ex,TA,TA,TA,TA,NaN,NaN
1456,TA,TA,TA,Gd,No,ALQ,Rec,TA,TA,TA,TA,TA,NaN,MnPrv
1457,Gd,Ex,Gd,TA,No,GLQ,Unf,Ex,Gd,Gd,TA,TA,NaN,GdPrv
1458,TA,TA,TA,TA,Mn,GLQ,Rec,Gd,Gd,NaN,TA,TA,NaN,NaN
1459,TA,Gd,TA,TA,No,BLQ,LwQ,Gd,TA,NaN,TA,TA,NaN,NaN

In [503]:
#use the label encode on the dfLabel
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
dfLabel = dfLabel.apply(le.fit_transform)

In [504]:
dfLabel

,ExterCond,ExterQual,BsmtCond,BsmtQual,BsmtExposure,BsmtFinType1,BsmtFinType2,HeatingQC,KitchenQual,FireplaceQu,GarageQual,GarageCond,PoolQC,Fence
0,4,2,3,2,3,2,5,0,2,5,4,4,3,4
1,4,3,3,2,1,0,5,0,3,4,4,4,3,4
2,4,2,3,2,2,2,5,0,2,4,4,4,3,4
3,4,3,1,3,3,0,5,2,2,2,4,4,3,4
4,4,2,3,2,0,2,5,0,2,4,4,4,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,4,3,3,2,3,5,5,0,3,4,4,4,3,4
1456,4,3,3,2,3,0,4,4,3,4,4,4,3,2
1457,2,0,1,3,3,2,5,0,2,2,4,4,3,0
1458,4,3,3,3,2,2,4,2,2,5,4,4,3,4
1459,4,2,3,3,3,1,3,2,3,5,4,4,3,4

In [505]:
#One hot encoder pour transformer les catÃ©gorielles en numÃ©riques. on passe de 80 columns Ã  247
def auto_encode_categorical(dataframe):
    categorical_columns = dataframe.select_dtypes(include=[object, pd.Categorical]).columns
    dataframe = dataframe.replace(np.nan, 'None')
    return pd.get_dummies(dataframe, columns=categorical_columns, prefix_sep='_', drop_first=True)


df_onehot = auto_encode_categorical(df)

In [506]:
df_onehot

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,0,1,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,0,1,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,0,1,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,0,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,0,0,0,0,1,0,0,0,1,0
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,0,0,0,0,1,0,0,0,1,0
1457,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,0,0,0,0,1,0,0,0,1,0
1458,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,0,0,0,0,1,0,0,0,1,0
1459,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,0,0,0,0,1,0,0,0,1,0

In [507]:
#On concatÃ¨ne les deux dataframes
df_encoded = pd.concat([df_onehot, dfLabel], axis=1)

In [508]:
df_encoded

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,BsmtExposure,BsmtFinType1,BsmtFinType2,HeatingQC,KitchenQual,FireplaceQu,GarageQual,GarageCond,PoolQC,Fence
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,3,2,5,0,2,5,4,4,3,4
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,1,0,5,0,3,4,4,4,3,4
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,2,2,5,0,2,4,4,4,3,4
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,3,0,5,2,2,2,4,4,3,4
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,2,5,0,2,4,4,4,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,3,5,5,0,3,4,4,4,3,4
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,3,0,4,4,3,4,4,4,3,2
1457,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,3,2,5,0,2,2,4,4,3,0
1458,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,2,2,4,2,2,5,4,4,3,4
1459,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,3,1,3,2,3,5,4,4,3,4

In [509]:
df_encoded[["LotFrontage", "MasVnrArea", "GarageYrBlt"]] = df_encoded[
    ["LotFrontage", "MasVnrArea", "GarageYrBlt"]].replace("None", "0")
df_encoded[["LotFrontage", "MasVnrArea", "GarageYrBlt"]] = df_encoded[
    ["LotFrontage", "MasVnrArea", "GarageYrBlt"]].astype('float')
df_encoded

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,BsmtExposure,BsmtFinType1,BsmtFinType2,HeatingQC,KitchenQual,FireplaceQu,GarageQual,GarageCond,PoolQC,Fence
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,3,2,5,0,2,5,4,4,3,4
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,1,0,5,0,3,4,4,4,3,4
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,2,2,5,0,2,4,4,4,3,4
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,3,0,5,2,2,2,4,4,3,4
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,2,5,0,2,4,4,4,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,3,5,5,0,3,4,4,4,3,4
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,3,0,4,4,3,4,4,4,3,2
1457,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,3,2,5,0,2,2,4,4,3,0
1458,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,2,2,4,2,2,5,4,4,3,4
1459,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,3,1,3,2,3,5,4,4,3,4

In [510]:
from scipy import stats

z_scores = np.abs(stats.zscore(df_encoded))
threshold = 7
df_no_outliers = df_encoded[(z_scores < threshold).all(axis=1)]

In [511]:
df_no_outliers

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,BsmtExposure,BsmtFinType1,BsmtFinType2,HeatingQC,KitchenQual,FireplaceQu,GarageQual,GarageCond,PoolQC,Fence
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,3,2,5,0,2,5,4,4,3,4
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,2,2,5,0,2,4,4,4,3,4
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,3,0,5,2,2,2,4,4,3,4
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,2,5,0,2,4,4,4,3,4
6,20,75.0,10084,8,5,2004,2005,186.0,1369,0,...,0,2,5,0,2,2,4,4,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,20,62.0,7500,7,5,2004,2005,0.0,410,0,...,3,2,5,0,2,5,4,4,3,4
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,3,5,5,0,3,4,4,4,3,4
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,3,0,4,4,3,4,4,4,3,2
1458,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,2,2,4,2,2,5,4,4,3,4
1459,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,3,1,3,2,3,5,4,4,3,4

## Gradient Boosting

In [512]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_absolute_percentage_error

In [513]:
X = df_encoded.drop('SalePrice', axis=1)
y = df_encoded['SalePrice']

In [514]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1473, random_state=340670)

In [515]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [516]:
import numpy as np
import pandas as pd
from xgboost import XGBRegressor
from sklearn.model_selection import KFold, GridSearchCV

# Use a random seed for reproducibility
random_seed = 424242

# Assuming you have already split your data into X_train, X_test, y_train, y_test
# Select the top 33 most correlated features
correlations = X_train.corrwith(y_train).abs().sort_values(ascending=False)
selected_features = correlations[:33].index.tolist()
X_train_selected = X_train[selected_features]
X_test_selected = X_test[selected_features]

# Create a KFold cross-validator to be used in cross-validation
cv = KFold(n_splits=5, shuffle=True, random_state=random_seed)

# Set up the parameter grid for GridSearchCV
param_grid = {
    'learning_rate': [0.01, 0.1, 0.2],
    'n_estimators': [100, 200, 300, 400],
    'max_depth': [3, 5, 7],
    'subsample': [0.5, 0.7, 1],
    'colsample_bytree': [0.5, 0.7, 1],
    'tree_method': ['hist'],
    'random_state': [random_seed],
}

# Train an XGBRegressor with the selected features using GridSearchCV
estimator = XGBRegressor()
grid_search = GridSearchCV(estimator, param_grid, cv=cv, scoring='neg_mean_absolute_percentage_error',
                           verbose=1, n_jobs=-1)
grid_search.fit(X_train_selected, y_train)

# Get the best parameters and model
best_params = grid_search.best_params_
optimized_xgb = grid_search.best_estimator_

# Print the best parameters
print("Best parameters:", best_params)

# Train a final XGBRegressor model using the selected features and best parameters
final_estimator = XGBRegressor(**best_params)
final_estimator.fit(X_train_selected, y_train)

# Make predictions on new data
y_pred = final_estimator.predict(X_test_selected)

# Evaluate the predictions using mean absolute percentage error (MAPE)
mape = np.mean(np.abs((y_test - y_pred) / y_test)) * 100
print("Mean absolute percentage error (MAPE): {:.2f}%".format(mape))

mae=mean_absolute_error(y_test, y_pred)
print(f'MAE: {mae}')

r2=r2_score(y_test, y_pred)
print(f'R^2: {r2}')

rmse=np.sqrt(mean_squared_error(y_test, y_pred))
print(f'RMSE: {rmse}')

Fitting 5 folds for each of 324 candidates, totalling 1620 fits
Best parameters: {'colsample_bytree': 0.5, 'learning_rate': 0.01, 'max_depth': 7, 'n_estimators': 400, 'random_state': 424242, 'subsample': 0.7, 'tree_method': 'hist'}
Mean absolute percentage error (MAPE): 9.12%
MAE: 17203.36912254051
R^2: 0.8883745812460153
RMSE: 28694.0617941042

In [518]:
!pip install shap

Collecting shap
  Using cached shap-0.41.0.tar.gz (380 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: numpy in /Users/guillaumelochon/Documents/pythonenv/lib/python3.11/site-packages (from shap) (1.23.5)
Requirement already satisfied: scipy in /Users/guillaumelochon/Documents/pythonenv/lib/python3.11/site-packages (from shap) (1.9.3)
Requirement already satisfied: scikit-learn in /Users/guillaumelochon/Documents/pythonenv/lib/python3.11/site-packages (from shap) (1.2.2)
Requirement already satisfied: pandas in /Users/guillaumelochon/Documents/pythonenv/lib/python3.11/site-packages (from shap) (1.5.3)
Requirement already satisfied: tqdm>4.25.0 in /Users/guillaumelochon/Documents/pythonenv/lib/python3.11/site-packages (from shap) (4.64.1)
Requirement already satisfied: packaging>20.9 in /Users/guillaumelochon/Documents/pythonenv/lib/python3.11/site-packages (from shap) (23.0)
Collecting slicer==0.0.7
  Using cached slicer-0.0.7-py3-none-any.whl (14 kB)
Collecting numba
  Using cached numba-0.56.4.tar.gz (2.4 MB)
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  Ã— python setup.py egg_info did not run successfully.
  â”‚ exit code: 1
  â•°â”€> [8 lines of output]
      Traceback (most recent call last):
        File "<string>", line 2, in <module>
        File "<pip-setuptools-caller>", line 34, in <module>
        File "/private/var/folders/5q/r1c10psn4318mx73yvb0rq6h0000gn/T/pip-install-zqumw_b_/numba_fb29bae23034466fb3870f9784fa4c73/setup.py", line 51, in <module>
          _guard_py_ver()
        File "/private/var/folders/5q/r1c10psn4318mx73yvb0rq6h0000gn/T/pip-install-zqumw_b_/numba_fb29bae23034466fb3870f9784fa4c73/setup.py", line 48, in _guard_py_ver
          raise RuntimeError(msg.format(cur_py, min_py, max_py))
      RuntimeError: Cannot install on Python version 3.11.1; only versions >=3.7,<3.11 are supported.
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

Ã— Encountered error while generating package metadata.
â•°â”€> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [ ]:
import shap

# Fits the explainer
explainer = shap.Explainer(final_estimator.predict, X_test_scaled)
# Calculates the SHAP values - It takes some time
shap_values = explainer(X_test_scaled)

shap.summary_plot(shap_values)

In [517]:
import pickle
pickle.dump(optimized_xgb, open('xgb_model.pkl', 'wb'))

In [466]:
model = pickle.load(open('xgb_model.pkl', 'rb'))
features = model.get_booster().feature_names

In [467]:
features

['OverallQual',
 'GrLivArea',
 'ExterQual',
 'GarageCars',
 'BsmtQual',
 'GarageArea',
 'TotalBsmtSF',
 '1stFlrSF',
 'ExterQual_TA',
 'KitchenQual',
 'FullBath',
 'AgeOfHouse',
 'YearBuilt',
 'TotRmsAbvGrd',
 'KitchenQual_TA',
 'AgeOfRemodel',
 'YearRemodAdd',
 'Foundation_PConc',
 'FireplaceQu_None',
 'Fireplaces',
 'FireplaceQu',
 'ExterQual_Gd',
 'BsmtQual_TA',
 'MasVnrArea',
 'Neighborhood_NridgHt',
 'BsmtFinType1_GLQ',
 'GarageFinish_Unf',
 'HeatingQC',
 'BsmtFinSF1',
 'FireplaceQu_Gd',
 'SaleType_New',
 'SaleCondition_Partial',
 'GarageType_Detchd']

In [471]:
#save the X_train, X_test, y_train, y_test using pickle
import pickle
pickle.dump(X_train, open('X_train.pkl', 'wb'))
pickle.dump(X_test, open('X_test.pkl', 'wb'))
pickle.dump(y_train, open('y_train.pkl', 'wb'))
pickle.dump(y_test, open('y_test.pkl', 'wb'))

XGBoostError: No evaluation result, `eval_set` is not used during training.